<!-- Meet the Team-->
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Meet the Team</h1>
  </div>
</header>

<!--About Us-->
<div class="jumbotron text-center">
  <h1>Getaround</h1> 
  <p>
      Getaround is a simple and easy to use option for event planning. 
      The site offers free accounts for ticket registration, offering discounts, collecting attendee data, and more.
      We provide the ease of use, reputable options which are good for any personal or professional event.</p> 
      <p>We're a team of makers, thinkers, and explorers. We approach work and play with curiosity and experimentation, 
        using what we learn to create meaningful products that connect with people, just like you.</p>
      <p>Join us now!</p>
</div>

<!-- Team Photos -->
<div class="container">
  <div class="row">
    <!-- Nikita -->
    <div class="col-xl-6 col-md-6">
      <div class="card border-0 shadow">
        <img src="../../assets/3.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Nikita Ravindran</h5>
          <div class="card-text text-black-50">Agree with Amogh</div>
        </div>
      </div>
    </div>
    <!-- Harshitha-->
    <div class="col-xl-6 col-md-6">
      <div class="card border-0 shadow">
        <img src="../../assets/1.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Harshitha Somasundar</h5>
          <div class="card-text text-black-50">Party?All for it</div>
        </div>
      </div>
    </div>
    <!-- Sachith -->
    <div class="col-xl-6 col-md-6">
      <div class="card border-0 shadow">
        <img src="../../assets/2.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Sachith Nagesh</h5>
          <div class="card-text text-black-50">Entertainment Package</div>
        </div>
      </div>
    </div>
    <!-- Amogh-->
    <div class="col-xl-6 col-md-6">
      <div class="card border-0 shadow">
        <img src="../../assets/4.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Amogh Diojode</h5>
          <div class="card-text text-black-50">Veg Biryani is not Biryani</div>
        </div>
      </div>
    </div>
  </div>

  <!--Stats of the team-->
  <div class="stats">
      <h2 class="step-up">Since Two Weeks of Finals</h2>
      <div class="staats-group">
        <div class="staat-item step-up">
          <h3>100+</h3>
          <p class="staats-p">Git commits</p>
          <p class="staats-p">(since 2 weeks)</p>
        </div>
        <div class="staat-item step-up">
          <h3>50</h3>
          <p class="staats-p">Cups of coffee</p>
          <p class="staats-p">(10 cups of tea)</p>
        </div>
        <div class="staat-item step-up">
          <h3>💃</h3>
          <p class="staats-p">Favourite emoji</p>
          <p class="staats-p">(closely followed by 🤯)</p>
        </div>
        <div class="staat-item step-up">
          <h3>10</h3>
          <p class="staats-p">Dad jokes</p>
          <p class="staats-p">(by actual dads: 2)</p>
        </div>
      </div>
    </div>

</div>


